{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Scam Eater - By Marcus Belcastro{% endblock %}</title>

        {% tailwind_css %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        {% block header %}{% endblock %}
    </head>

    <body class="bg-gray-900 font-rubik">
        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <footer>
            <div class="container mx-auto text-center">
                <hr class="w-3/4 mx-auto border-t-2 border-gray-500 mb-4">
                <p class="h-10 text-gray-600">
                Created by <a class="underline" href="https://marcusbelcastro.com/" target="_blank">Marcus Belcastro</a> &copy; 2023
                </p>
            </div>
        </footer>
    </body>

</html>
