{% extends 'base.html' %}

{% block content %}
<div class="text-white h-screen flex flex-col justify-center items-center px-4">
    <div class="text-center font-bold">
        <h1 class="text-4xl md:text-6xl mb-4">Copy-paste the scam into the box below 👇</h1>
        <h2 class="text-2xl md:text-4xl mb-8">We will handle the rest 🧑‍💻</h2>
    </div>

    <form method="post" class="text-center w-full md:w-96">
        {% csrf_token %}

        <div class="mb-4">
            <textarea name="raw_sample" id="id_raw_sample" class="w-full h-44 bg-gray-700 text-gray-200 border rounded-lg p-4 mb-4 focus:outline-none focus:ring-2 focus:ring-purple-500"></textarea>
        </div>

        <div class="mb-4">
            {{ form.raw_sample.errors }}
        </div>

        <button type="submit" class="bg-purple-800 font-bold text-white py-2 px-4 rounded-lg hover:bg-purple-700">Submit</button>
    </form>
</div>
{% endblock %}
