{% extends 'base.html' %}
{% load sample_template_utils %}

{% block header %}
    <style>
        {% comment %} Custom styling for the timeline lines {% endcomment %}
        div > .timeline-item {
            position: relative;
        }
        
        div > .timeline-item::before {
            content: "";
            position: absolute;
            top: 2rem;
            left: 0.92rem;
            border-left-width: 4px;
            border-left-style: dotted;
            border-left-color: #312e81;
            height: 8rem;
            opacity: 30%;
        }

        .timeline-item:last-child::before {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
<div class="text-white grid grid-cols-1 justify-center items-center px-8 mx-auto max-w-4xl">

    {% comment %} Summary text at the top {% endcomment %}
    <div class="text-center my-16">
        <p class="text-lg mb-8">⭐ Tip: Bookmark this page to keep track of this scam ⭐</p>
        <p class="text-2xl font-bold">👉 {{ object.summary_text }}</p>
    </div>

    {% comment %} Scam analysis {% endcomment %}
    <div class="text-center mb-16">
        <p class="text-9xl mb-4">{{ object.sample_emoji }}</p>

        <div class="w-full px-16">
            <div class="relative w-full mb-2">
                <div class="w-full h-10 bg-gray-500 rounded-full"></div>
                <div class="w-full h-10 bg-red-600 rounded-full absolute top-0 left-0" style="width:{{ object.scam_score|percentage }};"></div>
            </div>

            <div class="flex flex-row justify-center w-full">
                <p class="pl-4">|</p>
                <p class="flex-grow text-center">|</p>
                <p class="pr-4">|</p>
            </div>

            <div class="flex flex-row justify-center w-full">
                <p class="w-16 text-left">Not sure</p>
                <p class="flex-grow text-center">Looks suspicious</p>
                <p class="w-16 text-right">Scam</p>
            </div>
        </div>
    </div>

    {% comment %} Details of the sample {% endcomment %}
    <div class="text-center text-lg mb-16">
        <p class="mb-4"><span class="font-bold">💬 Status: </span>{{ object.status_text }}</p>
        <p><span class="font-bold">🕒 Created at: </span>{{ object.date_created|date }}</p>
    </div>

    {% comment %} Sample activity {% endcomment %}
    <div class="flex flex-col justify-center items-center mb-16">
        {% for activity in object.reporting_activities %}
            <div class="timeline-item flex flex-row w-full justify-center items-center mb-8">
                <div class="basis-2/12">
                    <div class="w-8 h-8 bg-purple-900 rounded-full cursor-pointer mr-auto" title="{{ activity.time_occurred }}"></div>
                </div>
                <div class="basis-10/12 shrink bg-gray-800 border-4 border-purple-900 rounded-md p-4 ml-4">
                    <h5 class="font-bold text-xl">{{ activity.title }}</h5>
                    <p class="text-md">{{ activity.description }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
